<div class="sing-in-container">
  <h2>Login In</h2>
  <form #usersignin="ngForm" (ngSubmit)="loginUser(usersignin.value)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        name="Email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        ngModel
      />
    </div>
    <div class="error-message" *ngIf="isEmailCorrect">
      Email is incorrect form!
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        name="Password"
        class="form-control"
        id="exampleInputPassword1"
        ngModel
      />
    </div>
    <div class="error-message" *ngIf="isErrorVisible">{{ errorMessage }}</div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
