<div class="market-main-container">
  <ng-container *ngFor="let item of itemsArr">
    <div class="item-card-container" *ngIf="item.name">
      <div class="content">
        <img
          src="https://th-thumbnailer.cdn-si-edu.com/bZAar59Bdm95b057iESytYmmAjI=/1400x1050/filters:focal(594x274:595x275)/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/95/db/95db799b-fddf-4fde-91f3-77024442b92d/egypt_kitty_social.jpg"
        />
        <h2>{{ item.name }}</h2>
        <p>{{ item.price }}</p>
      </div>
      <button class="btn btn-primary" (click)="openShowMore(item)">
        Show more
      </button>
    </div>
  </ng-container>
</div>
